{% extends 'base.html' %}

{% block content  %}
<div class="row">
    <div class="col-lg-8 ml-5 mt-3 ">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <form method="get">
                <input type="hidden" name="status_resolution" value="4">
                <button type="submit" class="flex-sm-fill text-sm-center nav-link active">Restored</button>
            </form>
            <form method="get">
                <input type="hidden" name="status_resolution" value="1">
                <button type="submit" class="flex-sm-fill text-sm-center nav-link active">New</button>
            </form>
            <form method="get">
                <input type="hidden" name="status_resolution" value="2">
                <button type="submit" class="flex-sm-fill text-sm-center nav-link active">In Progress</button>
            </form>
            <form method="get">
                <input type="hidden" name="status_resolution" value="3">
                <button type="submit" class="flex-sm-fill text-sm-center nav-link active">Done</button>
            </form>
        </nav>
        {% for request in object_list %}
        <div class="card mt-1">
            <div class="card-header">
                {{request.name}}
            </div>
            <div class="card-body">
                <div class="row">
                    <h3>{{request.user.first_name}} {{request.user.last_name}}</h3>
                    {% if request.status == "3" %}
                    <button type="button" class="btn btn-success ml-auto">{{request.get_status_display}}
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-warning ml-auto">{{request.get_status_display}}
                    </button>
                    {% endif %}
                </div>
                <p>{{request.date_create|date:"D, d M, Y"}}</p>
                <p class="card-text">{{request.info|truncatewords:30}}</p>
                <a class="btn btn-primary" href="{% url 'request_detail_url' request.pk %}">Detail</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}