{% extends 'base.html' %}

{% block content  %}
<div class="row">
    <div class="col-lg-3 ml-5 mt-3">
        <h5>New</h5>
        {% for request in object_list %}
        {% if request.status == "1" or request.status == "4" %}

        <div class="card bg-light mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ request.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ request.user.username }}</h6>
                <p class="card-text">{{ request.info|truncatewords:10 }}</p>
                <a class="request" href="{% url 'request_detail_url' request.pk %}">Detail</a>
            </div>
        </div>

        {% endif %}
        {% endfor %}
    </div>
    <div class="col-lg-3 ml-5 mt-3">
        <h5>In Progress</h5>
        {% for request in object_list %}
        {% if request.status == "2" %}
        <div class="card bg-light mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ request.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ request.user.username }}</h6>
                <p class="card-text">{{ request.info|truncatewords:10 }}</p>
                <a class="request" href="{% url 'request_detail_url' request.pk %}">Detail</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-lg-3 ml-5 mt-3">
        <h5>Done</h5>
        {% for request in object_list %}
        {% if request.status == "3" %}
        <div class="card bg-light mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ request.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ request.user.username }}</h6>
                <p class="card-text">{{ request.info|truncatewords:10 }}</p>
                <a class="request" href="{% url 'request_detail_url' request.pk %}">Detail</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}